# Editable packages
-e ./pythonpackages/azure_playground

pydantic
requests
python-dotenv
nbstripout
pre-commit
joblib
opencv-python
yt-dlp
tqdm
pillow
spacy
pytest
ffmpeg-python
black
aiohttp
matplotlib
numpy